/*------------------------ -----------------------------------------------------------
 Projet_Transversal - ihm.css
------------------------------------------------------------------------------------

 DEVELOPPEUR: BRU Natacha

 Groupe: B2

------------------------------------------------------------------------------------*/


/*style du Header */
.header{
	background: url("imagebandeau.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 300px;
}

h1{
	display : block;
	color: white;
	text-align: left;
	letter-spacing: 4px;
	font-family: 'Zapfino', sans-serif;
}


/*style de la navigation*/

nav {
    display: block;
}


.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4FB0A3;
}

.button {
  background-color: #4CAF50;
  display: block;
  position: relative;
  width: 50%;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  margin: 2% 2% 2% 25%;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.buttonStop {
  background-color: #C80302;
  border: none;
  color: white;
  position: relative;
  width: 50%;
  padding: 15px 25px;
  margin: 2% 2% 2% 25%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonStopU {
  background-color: #C80302;
  border: none;
  color: white;
  width: 50%;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: green;
}

.buttonStop:hover {
  background-color: red;
}
.buttonStopU:hover {
  background-color: red;
}

.liste {
    float: left;
    display: inline;
}

.liste a{
    display: block;
    color: black;
    font-family: 'Baskerville', sans-serif;
	letter-spacing: 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liste a:hover {
    background-color: #338C80;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


/*style des divisions de contrôles*/

.deplacements{
	display: inline-block;
	position: static;
	width: 98%;
	height: auto;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
}


.deplacements1{
	display: inline-block;
	position: static;
	width: 40%;
	height: auto;
	margin-top: 1%;
	margin:1%;
	vertical-align: middle;
}

.epreuve{
	display: inline-block;
	width: 48%;
	height: 250px;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
	position:relative;
}

.vitesse{
	display: inline-block;
	width: 48%;
	height: auto;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
	position:relative;
}

.servomoteurs{
	display: inline-block;
	width: 48%;
	height: 250px;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
	position:relative;	
}

.mesure{
	display: inline-block;
	width: 48%;
	height: 300px;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
	position:relative;
}

.detection_obstacles{
	display: inline-block;
	width: 48%;
	height: 300px;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
	position:relative;
}

.son{
	display: inline-block;
	width: 48%;
	height: 500px;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
	position:relative;
	
}

.images{
	display: inline-block;
	width: 48%;
	height: 500px;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
	position:relative;
}

.pointeur{
	display: inline-block;
	width: 98%;
	height: 300px;
	margin-top: 1%;
	margin:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	vertical-align: middle;
	position:relative;
}








/*styles généraux des titres, corps, paragraphes, images et légendes*/

h2{
	display : block;
	color: black;
	font-style:normal;
	letter-spacing: 2px;
	font-family: 'Didot', serif;
	text-align: center;
	vertical-align: center;
	height: 50px; 
	background-color: #AEC0BE;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 2em;
  	line-height: 2em;
 	white-space: nowrap;

} 

h3{
	display : block;
	color: #1C675D;
	font-style:italic;
	letter-spacing: 2px;
	font-family: 'Didot', sans-serif;
	text-align: center;
}

h4 a{
	display : block;
	color: #CB9951;
	font-style: normal;
	letter-spacing: 2px;
	font-family: 'Baskerville', sans-serif;
	text-align: center;
}

h4{
	display : inline-block;
	color: black;
	font-style: normal;
	letter-spacing: 2px;
	font-family: 'Baskerville', sans-serif;
	text-align: justify;
}

body{
	font-family : 'Josephin',sans-serif;
	text-align: justify;
}

p{
	text-align: center;
	text-indent: 2em;
}

i[target= "text"]{
	text-align: center;
	text-indent: 2em;
	font-size: 20px;
}

img {
	display: inline-block;
	max-width: 100%;
	height:auto;
	margin: 1% 1% 1% 15%;
}

legend{
	display: inline-block;
	margin: auto;
    width: auto;
	text-align: center;
	font-style: italic;    
	color: black;
    font-family: 'Baskerville', sans-serif;
	letter-spacing: 5px;
}


label{
	display: inline-block;
	color: black;
	font-style: normal;
	letter-spacing: 1px;
	font-family: 'Baskerville', sans-serif;
	text-align: center;
}

form {
    display: block;
    margin: 2% 10% 2% 2%;
}

.solo{
	display: inline-block;
	margin: auto;
}

/*style du pied de page*/

footer {
	margin-top: 20px;
    background-color: #4FB0A3;
    padding: 10px;
    text-align: center;
	font-family : 'Didot' , sans-serif;
	font-style: italic;
}