<!----------------------------------------------------------------------------------
 Projet_Transversal - couverture.ejs (HTML)
------------------------------------------------------------------------------------

 DEVELOPPEUR: BRU Natacha
 
 Groupe: B2
 
------------------------------------------------------------------------------------>
<!DOCTYPE HTML>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/ihm.css" media = "screen">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script type="text/javascript" src="/menu.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<title>Interface Homme-Machine</title>
</head>

<body onscroll = "MenuFixe()">

	<div class="header">
		<h1>IHM - Robot SEM819</h1>
	</div>

<!-- Bare de menu -->
	<nav id= "menu">
		<ul class="bar">
      		<li class="liste"><a href="#controles">Contrôles robot</a></li>
      		<li class="liste"><a href="#indicateurs" >Messages du robot</a></li>
      		<li class="liste"><a href="#cartographie" >Cartographie</a></li>
     		<li class="liste"><a href="/assistance" >Assistance</a></li>
  		</ul>
	</nav>


<!-- Section contrôles du robot -->
	<div class = "controles" id = "controles">
		<h2>Actions du robot SEM819</h2>
		<button class="buttonStopU" type="button" value="commande" id="arret" />ARRET D'URGENCE<i target="text" class="far fa-hand-paper"></i></button>


		<div class = "epreuve" id = "epreuve">
			<h3> Epreuve </h3>
			<form method="post">
			   <p><label>Type d'épreuve </label> : <input type="number" id="E" min=1 max = 8 name="type_épreuve" value=1 required /></p>
			</form>
			<button type="button" class="button" id="debut" value="commande"/> Play <i target= "text" class="fas fa-play"></button></i><!--
		--><button class="buttonStop" type="button" value="commande" id="fin" /> Stop <i target= "text" class="fas fa-stop"></i></button>
		</div><!--


	 --><div class = "servomoteurs" id = "servomoteurs">
			<h3> Rotation des servomoteurs </h3>	
		<form method="post">
		   <p><label>Servomoteur </label> : <select id="servo"> <option value="H">Horizontal</option> <option value="V">Vertical</option></select></p>
		</form><!--
		-->	<form method="post">
			   <p><label>Angle de rotation (°)</label> : <input type="number" id ="A_servo" min=1 max = 180 name="vitesse" value= 90 required /></p>
			</form><!--
		--><button class="button" type="button" value="commande" id="rotation_servo" /> Rotation <i target="text" class="fas fa-sync-alt"></i></button>
		</div><!--


		--><div class = "deplacements" id = "deplacements">
			<h3> Déplacements du robot </h3>
			<div class = "deplacements1">
			<button class="button" type="button" value="commande" id="avance" /> Avancer <i target="text" class="fas fa-forward"></i></button><!--
		--><button class="button" type="button" value="commande" id="recule" /> Reculer <i target="text" class="fas fa-backward"></i></button><!--
		--></div><!--
		 --><div class = "deplacements1">
			<form method="post">
			   <p><label>Vitesse du robot (%) </label> : <input type="number" id ="V" min=5 max = 100 name="vitesse" value= 20 required /></p>
			</form><!--
		--><button type="button" class="button" id="Vit_def" value="commande" />Appliquer <i target="text" class="fas fa-tachometer-alt"></i></button><!--
		--></div><!--
		 --><div class = "deplacements1">
			<button class="button" type="button" value="commande" id="tourne_d" />Rotation 90° droite</button><!--
		 --><button class="button" type="button" value="commande" id="tourne_g" />Rotation 90° gauche</button><!--
		 --><button class="button" type="button" value="commande" id="demiTour" />Demi-tour</button><!--
		 --></div><!--
		--> <div class = "deplacements1"><!--
		--> <form method="post">
			   <p><label>Sens de rotation </label> : <select id="sens"> <option value="D">Droite</option> <option value="G">Gauche</option></select></p>
			</form><!--
		--> <form method="post">
			   <p><label>Angle de rotation (°)</label> : <input type="number" id ="A" min=1 max = 180 name="vitesse" value= 90 required /></p>
			</form><!--
		--> <button class="button" type="button" value="commande" id="rotation" /> Rotation <i class="fas fa-sync-alt" target="text"></i></button><!--	
		--> <button class="buttonStop" type="button" value="commande" id="stop" /> Stop <i class="fas fa-stop" target="text"></i></button><!--
		--> </div><!--
		 --><div class = "deplacements1">
			<form method="post" class="solo">
			   <p><label>x </label> : <input type="number" id ="coord_x" min=-99 max = 99 name="coord_x" value= 0 required /></p>
			</form><!--
		 --><form method="post" class="solo">
			   <p><label>y </label> : <input type="number" id ="coord_y" min= -99 max = 99 name="coord_y" value= 0 required /></p>
			</form><!--
		--> <form method="post" class="solo">
		   		<p><label>angle </label> : <input type="number" id ="coord_angle" min= -180 max = 180 name="coord_angle" value= 0 required /></p>
		    </form><!--
		--><button type="button" class="button" id="coord_def" value="commande" /> Go <i target="text" class="fas fa-fighter-jet"></i> </button><!--
		--><button type="button" class="button" id="coord_init" value="commande" /> Initialisation<i target="text" class="fas fa-home"></i></button><!--
		--></div>
		</div><!--


	 --><div class = "mesure" id = "mesure">
			<h3> Activation des capteurs de mesure </h3>
			<button class="button" type="button" value="commande" id="mesure_c" />Mesure de courant <i target="text" class="fas fa-car-battery"></i></button>
			<button class="button" type="button" value="commande" id="mesure_e" />Mesure d'énergie <i target="text" class="fas fa-bolt"></i></button>
		</div><!--

	--><div class = "detection_obstacles" id = "detection_obstacles" >
			<h3> Détection d'obstacles </h3>
			<form method="post">
			   <p><label>Type de détection</label> : <select id="options_detect"> <option value="MOU">Unique</option> <option value="MOB">Balayage</option><option value="MOS">Obstacle le plus proche</option></select></p>
			</form><!--
			--><form method="post">
			   <p><label>Capteur</label> : <select id="capt_detect"> <option value = >Capteur avant</option> <option value="D">Capteurs avant + arrière</option></select></p>
			</form><!--
			--><form method="post">
			   <p><label>Resolution angulaire (°)</label> : <input type="number" id ="angle_res" min=5 max = 45 step = 5 name="resolution" value= 30 required /></p></p>
			</form><!--
		-->	<button class="button" type="button" value="commande" id="obstacle_detect" />Détection d'obstacle</button>
		</div><!--

	--><div class = "son" id = "son">
			<h3> Gestion du son </h3>
			<button class="button" type="button" value="commande" id="emission" />Emission de son <i target="text" class="fas fa-volume-up"></i></button>
			<form method="post">
			   <p><label>Code fréquence </label> : <input type="number" id="F" min=1 max = 99 name="Code_frequence " value=6 required /></p>
			</form>
			<form method="post">
			   <p><label>Durée d'émission (x10 ms) </label> : <input type="number" id="D_e" min=1 max = 99 name="Durée_son" value=25 required /></p>
			</form>
			<form method="post">
			   <p><label>Durée du silence (x10 ms) </label> : <input type="number" id="D_s" min=1 max = 99 name="Durée_silence" value=50 required /></p>
			</form>
			<form method="post">
			   <p><label>Nombre de bips </label> : <input type="number" id="N_b" min=1 max = 99 name="Nombre_bips" value=3 required /></p>
			</form>
			<button class="button" type="button" value="commande" id="reception" />Acquisition de son <i target="text" class="fas fa-microphone-alt"></i> </button>
			<form method="post">
			   <p><label>Durée d'acquisition (x100 ms) </label> : <input type="number" id="D_a" min=1 max = 99 name="durée_acq" value=50 required /></p>
			</form>
		</div><!--


	--><div class = "images" id = "images">
			<h3> Gestion images </h3>
			<form method="post">
			   <p><label>Options</label> : <select id="options_img"> <option value="O">Photo unique</option> <option value="C">Prise en continu</option><option value="S">Prise de N clichés</option></select></p>
			</form><!--
		--><form method="post">
			   <p><label>Durée entre 2 clichés (x100 ms) </label> : <input type="number" id="D_cliches" min=1 max = 99 name="D_cliches" value=1 required /></p>
			</form><!--
			--><form method="post">
			   <p><label> Nombre de clichés </label> : <input type="number" id="N_cliches" min=1 max = 255 name="Nombre_cliches" value=1 required /></p>
			</form><!--
			--><button class="button" type="button" value="commande" id="image" /><i class="fas fa-camera"></i></button><!--
			--><button class="buttonStop" type="button" value="commande" id="image_f" /><i class="fas fa-camera"></i></button>
		</div><!--


	--><div class = "pointeur" id = "pointeur">
			<h3> Pointeur lumineux </h3>
			<form method="post" class="solo">
			   <p><label>Intensité en % </label> : <input type="number" id="I" min=1 max = 100 name="intensité" value=100 required /></p>
			</form>
			<form method="post" class="solo">
			   <p><label>Nombre de périodes </label> : <input type="number" id ="N" min=1 max = 99 name="périodes" value=1 required /></p>
			</form>
			<form method="post" class="solo">
			   <p><label>Temps allumé (x100 ms)</label> :<input type="number" id ="D1"  min=1 max = 99 name="allumé" value=99 required /></p>
			</form>
			<form method="post" class="solo">
			   <p><label>Temps éteint (x100 ms) </label> :<input type="number" id ="D2" min=0 max = 99 name="éteind" value=0 required /></p>
			</form>
			<button type="button" class="button" id="active_p" value="command" />Allumer<i target="text" class="far fa-lightbulb"></i></button>
			<button class="buttonStop" type="button" value="commande" id="desactive_p"/>Eteindre<i target="text" class="far fa-lightbulb"></i></button>
		</div>

	</div>

<!-- Actions bouttons -->
<script>
	var sockets = io.connect('http://localhost:8080');
	sockets.on('message', function(message) {
	    alert(message);
	});

	$('#arret').click(function () {
	    sockets.emit('message', 'Q\r');
	});
	$('#debut').click(function () {
	    sockets.emit('message', 'D'+ $("#E").val() + '\r');
	});
	$('#fin').click(function () {
	    sockets.emit('message', 'E\r');
	});
	$('#Vit_def').click(function () {
	    sockets.emit('message', 'TV ' + $("#V").val() + '\r');
	});
	$('#rotation_servo').click(function () {
	    sockets.emit('message', 'CS ' + $("#servo").val() + ' A:' +$("#A_servo").val() + '\r');
	});
	$('#avance').click(function () {
	    sockets.emit('message', 'A ' + $("#V").val() + '\r'); 
	});
	$('#recule').click(function () {
	    sockets.emit('message', 'B ' + $("#V").val() + '\r');
	});
	$('#tourne_d').click(function () {
	    sockets.emit('message', 'RD\r');
	});
	$('#tourne_g').click(function () {
	    sockets.emit('message', 'RG\r');
	});
	$('#demiTour').click(function () {
	    sockets.emit('message', 'RC '+ $("#sens").val() + '\r');
	});
	$('#rotation').click(function () {
	    sockets.emit('message', 'RA '+ $("#sens").val() + ':' + $("#A").val()+ '\r');
	});
	$('#coord_def').click(function () {
	    sockets.emit('message', 'G X:'+ $("#coord_x").val() + ' Y:' + $("#coord_y").val()+ ' A:' + $("#coord_angle").val() + '\r');
	});
	$('#coord_init').click(function () {
	    sockets.emit('message', 'IPO X:'+ $("#coord_x").val() + ' Y:' + $("#coord_y").val()+ ' A:' + $("#coord_angle").val() + '\r');
	 });
	$('#stop').click(function () {
	    sockets.emit('message', 'S\r');
	});
	$('#obstacle_detect').click(function () {
	    sockets.emit('message', $("#options_detect").val() +' '+ $("#capt_detect").val() + ' '+$("#angle_res").val() + '\r');
	});
	$('#mesure_c').click(function () {
	    sockets.emit('message', 'MI\r');
	});
	$('#mesure_e').click(function () {
	    sockets.emit('message', 'ME\r');
	});
	$('#emission').click(function () {
	    sockets.emit('message', 'SD F:' + $("#F").val() + ' P:' +(($("#D_e").val())*10) + ' W:' +(($("#D_s").val())*10) + ' B:' +$("#N_b").val() + '\r');
	});
	$('#reception').click(function () {
	    sockets.emit('message', 'ASS '+ (($("#D_a").val())/10) + '\r');
	});
	$('#image').click(function () {
	    sockets.emit('message', 'PPH '+ $("#options_img").val() + ' E:'+(($("#D_cliches").val())/10) + ' N:'+ $("#N_cliches").val() + '\r');
	});
	$('#image_f').click(function () {
	    sockets.emit('message', 'SPH\r');
	});
	$('#active_p').click(function () {
	    sockets.emit('message', 'L I:' + $("#I").val() + ' D:' +(($("#D1").val())/10) + ' E:' +(($("#D2").val())/10) + ' N:' +$("#N").val() + '\r');
	});
	$('#desactive_p').click(function () {
	    sockets.emit('message', 'LS\r');
	});
</script>

<!-- Section indicateurs -->
	<div class="indicateurs" id="indicateurs">
		<h2>Messages du robot</h2>
			<section id="zone_chat">
            	<p> Consomation : </p>
            	<script>
            		io.sockets.on('connection', function (socket) {
    					socket.join('all');
						// Quand le serveur reçoit un signal de type "message" du client    
						socket.on('message', function (message) {
					    	port.write( message, function insereMessage(message) {
					      		$('#zone_chat').prepend('<p>'+ message + '</p>');
        				};
	  					});
    				});
            	</script>
        	</section>
	</div>


<!-- Section cartographie -->
	<div class="cartographie" id="cartographie">
		<h2>Cartographie</h2>
		<p>Obstacles</p>
		<div class="catographieImage">
			<fieldset>
				<legend>Cartographie</legend>
				<img src="carte.jpg" alt= "la carte du terrain"/>
			</fieldset>
		</div>
	</div>

</body>



<footer>
	<p>Groupe B2</p>
	<p>Projet Transversal SEM819</p>
	<p>CPE Lyon - 2019</p>
</footer>