<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/ihm.css" media = "screen">
	<script type='text/javascript' src='/cabinet.js'></script>
	<title>Interface Homme-Machine</title>
</head>

<body onscroll = "MenuFixe()">
	<div class="header">
		<h1>IHM pour le Robot SEM819</h1>
	</div>
	<nav id= "menu">
		<ul class="bar">
      		<li class="liste"><a href="#controles">Contrôles robot</a></li>
      		<li class="liste"><a href="#cartographie" >Cartographie</a></li>
     		<li class="liste"><a href="/assistance" >Assistance</a></li>
  		</ul>
	</nav>
	<div class = "controles" id = "controles">
		<h2>Actions du robot SEM819</h2>
		<p> Ici les différentes fonctionnalités </p>
		<div class="presentationImage">
			<fieldset>
				<legend>Le robot</legend>
				<img src="bienvenue.jpeg" alt= "le robot"/>
			</fieldset>
		</div>
	</div>
	<div class="cartographie" id="cartographie">
		<h2>Cartographie</h2>
		<p>Obstacles</p>
		<p>Balises</p>
		<div class="catographieImage">
			<fieldset>
				<legend>Cartographie</legend>
				<img src="cabinet.jpeg" alt= "la carte du terrain"/>
			</fieldset>
		</div>
	</div>
</body>



<footer>
	<p>Groupe B2</p>
	<p>Projet Transversal SEM819</p>
	<p>CPE Lyon - 2019</p>
</footer>