<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/ihm.css" media = "screen">
	<script type='text/javascript' src='/cabinet.js'></script>
	<title>Interface Homme-Machine</title>
</head>

<body onscroll = "MenuFixe()">

	<div class="header">
		<h1>IHM - Robot SEM819</h1>
	</div>

	<nav id= "menu">
		<ul class="bar">
      		<li class="liste"><a href="#controles">Contrôles robot</a></li>
      		<li class="liste"><a href="#cartographie" >Cartographie</a></li>
      		<li class="liste"><a href="#indicateurs" >Indicateurs</a></li>
     		<li class="liste"><a href="/assistance" >Assistance</a></li>
  		</ul>
	</nav>

	<div class = "controles" id = "controles">
		<h2>Actions du robot SEM819</h2>
		<button class="buttonStop" type="button">ARRET D'URGENCE</button>
		<div class = "deplacements" id = "deplacements">
			<h3> Déplacements du robot </h3>
			<button class="button" type="button">Avancer</button><!--
		--><button class="button" type="button">Reculer</button>
			<button class="button" type="button">Rotation droite</button><!--
		--><button class="button" type="button">Rotation gauche</button><!--
		--><button class="button" type="button">Stop</button>
		</div>
		<div class = "mesure" id = "mesure">
			<h3> Activation des capteurs de mesure </h3>
			<button class="button" type="button">Mesure de distance</button>
			<button class="button" type="button">Mesure de consommation</button>
		</div><!--
	--><div class = "son" id = "son">
			<h3> Gestion du son </h3>
			<button class="button" type="button">Emission de son</button>
			<button class="button" type="button">Acquisition de son</button>
		</div><!--
	--><div class = "images" id = "images">
			<h3> Gestion images </h3>
			<button class="button" type="button">Prise de vue</button>
		</div><!--
	--><div class = "pointeur" id = "pointeur">
			<h3> Pointeur lumineux </h3>
			<button class="button" type="button">Activer le pointeur lumineux</button>
		</div>
	</div>


	<div class="cartographie" id="cartographie">
		<h2>Cartographie</h2>
		<p>Obstacles</p>
		<div class="catographieImage">
			<fieldset>
				<legend>Cartographie</legend>
				<img src="carte.jpg" alt= "la carte du terrain"/>
			</fieldset>
		</div>
	</div>

	<div class="indicateurs" id="indicateurs">
		<h2>Indicateurs</h2>
		<p> Consomation </p>
	</div>

</body>



<footer>
	<p>Groupe B2</p>
	<p>Projet Transversal SEM819</p>
	<p>CPE Lyon - 2019</p>
</footer>