<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/cabinet.css" media = "screen">
	<script type='text/javascript' src='/cabinet.js'></script>
	<title>Cabinet vétérinaire</title>
</head>

<body onscroll = "MenuFixe()">
	<div class="header">
		<h1>Cabinet Vétérinaire </h1>
	</div>
	<nav id= "menu">
		<ul class="bar">
      		<li class="liste"><a href="/banana">Bienvenue</a></li>
      		<li class="liste"><a href="#horaires" >Horaires d'ouverture</a></li>
     		<li class="liste"><a href="#tournées" >Tournées</a></li>
     		<li class="liste"><a href="#contact" >Contact</a></li>
  		</ul>
	</nav>
	<div class = "bienvenue" id = "bienvenue">
		<h2>Le cabinet vétérinaire des Docteurs BRU et RICOU</h2>
		<p> L'équipe du cabinet vétérinaire place de la mairie à Salles-Curan est composée de Céline BRU et Raphaël RICOU. Le docteur BRU est spécialisé dans la pratique vétérinaire équine et effectue diverses tournées en Aveyron pour soigner vos chevaux. Le docteur RICOU s'occupe des ovins, bovins et caprins ainsi que des animaux de compagnie au cabinet vétérinaire. </p>
		<div class="presentationImage">
			<fieldset>
				<legend>Les vétérinaires : Céline BRU et Raphaël RICOU</legend>
				<img src="bienvenue.jpeg" alt= "les vétérinaires"/>
			</fieldset>
		</div>
	</div>
	<div class="contact" id="contact">
		<h2>Nous contacter</h2>
		<p>Téléphone bureau: 05 65 46 30 71</p>
		<p>e-mail: bru.ricou-scvet@orange.fr</p>
		<p>adresse: Cabinet vétérinaire place de la mairie 12410 Salles-Curan</p>
		<div class="contactImage">
			<fieldset>
				<legend>Cabinet vétérinaire</legend>
				<img src="cabinet.jpeg" alt= "le cabinet vétérinaire"/>
			</fieldset>
		</div>
	</div>
</body>



<footer>
	<p>réalisé par Natacha</p>
	<p>Cabinet vétérinaire place de la mairie à Salles-Curan</p>
	<p>juillet 2018</p>
</footer>