<!DOCTYPE HTML>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/cabinet.css" media = "screen">
	<script type='text/javascript' src='/cabinet.js'></script>
	<title>Interface Homme-Machine</title>
</head>

<body onscroll = "MenuFixe()">
	<div class="header">
		<h1>IHM pour le Robot SEM819</h1>
	</div>
	<nav id= "menu">
		<ul class="bar">
      		<li class="liste"><a href="#controles">Contrôles robot</a></li>
      		<li class="liste"><a href="#cartographie" >Cartographie</a></li>
     		<li class="liste"><a href="/assistance" >Assistance</a></li>
  		</ul>
	</nav>
	<div class = "controles" id = "controles">
		<h2>Actions du robot SEM819</h2>
		<p> Ici les différentes fonctionnalités </p>
		<div class="presentationImage">
			<fieldset>
				<legend>Le robot</legend>
				<img src="bienvenue.jpeg" alt= "les vétérinaires"/>
			</fieldset>
		</div>
	</div>
	<div class="contact" id="contact">
		<h2>Nous contacter</h2>
		<p>Téléphone bureau: 05 65 46 30 71</p>
		<p>e-mail: bru.ricou-scvet@orange.fr</p>
		<p>adresse: Cabinet vétérinaire place de la mairie 12410 Salles-Curan</p>
		<div class="contactImage">
			<fieldset>
				<legend>Cabinet vétérinaire</legend>
				<img src="cabinet.jpeg" alt= "le cabinet vétérinaire"/>
			</fieldset>
		</div>
	</div>
</body>



<footer>
	<p>réalisé par Natacha</p>
	<p>Cabinet vétérinaire place de la mairie à Salles-Curan</p>
	<p>juillet 2018</p>
</footer>